h1 {
    text-align: center;
    color: white;
}
body {
    background-image: url('https://www.pexels.com/photo/boy-sitting-on-soccer-ball-holding-dslr-camera-2338045/');
    background-color: black;
}

/* #main {
    border:1px black;
    background:rgb(65, 190, 180);
    text-align: center;
    */
 }